<!DOCTYPE html>
<html>
<head>
	<title>OnlineBuddy</title>
	<meta charset="utf-8">
	  <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <!-- Compiled and minified JavaScript -->
   <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
    <script type="text/javascript" src="../js/app.js"></script>
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            
</head>
<body>
	<nav class="navigation">
		<ul>
			<a href="/"><li class="logo"></li></a>
		</ul>
	</nav>

	<header>
		<h1>Sprint 1 - Demo de Recursos implementados</h1>
	</header>

	<section class="main">
		<div class="users">
			<h3>Crud de Usuários</h3>
			<ul>
				<li><a href="">Novo usuário</a></li>
				<li><a href="">Listar/Atualizar usuários</a></li>
				<li><a href="">Deletar Conta</a></li>
			</ul>
		</div>
		<div class="games">
			<h3>Crud de Games</h3>
			<ul>
				<li><a href="">Novo Jogo</a></li>
				<li><a href="">Listar/Atualizar usuários</a></li>
				<li><a href="">Deletar Jogo</a></li>
			</ul>
		</div>
	</section>

	<footer>
		<p>Trabalho em desenvolvimento, <a href="https://github.com/VERRibeiro">VERRibeiro</a> - <a href="https://github.com/zeRonaldo">zeRonaldo</a></p>
	</footer>

</body>
</html>